{% extends "p7_layout.html" %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <ul>
            <li>Пользователь: <input type="text" value="{{ user.user.username }}"></li>
            <li>Пол: <input type="text" value="{{ user.gender }}" name='gender'></li></li>
            <li>Страна: <input type="text" value="{{ user.country }}" name="country"></li></li>
            <li>Город: <input type="text" value="{{ user.city }}" name="city"></li></li>
            <li>Улица: <input type="text" value="{{ user.street }}" name="street"></li></li>
            <li>Дом: <input type="text" value="{{ user.house }}" name="house"></li></li>
            <li>Квартира: <input type="text" value="{{ user.apartment_number }}" name="apartment_number"></li></li>
        </ul>
        <button type="submit">Изменить</button>
    </form>
{% endblock content %}


