{% extends 'p7_layout.html' %}

{% block content %}

<h1 class="text-4xl font-bold ">О нашей компании</h1>
<div class="flex flex-col gap-2 mt-5 text-lg">
    <p>Flow - один из лидеров рынка по продаже цифровой и бытовой техники в России</p>
    <p>Наша цель изменить жизнь людей, сделав простым доступ к огромному количеству качественных и недорогих товаров, предоставляя лучший сервис.</p>
    <p>Наши клиенты – в центре всего, что мы делаем, Доверие - главное. Мы строим долгосрочные отношения, Во всём, чем занимаемся, стремимся быть экспертами, Открыты для предложений и улучшений.</p>
    <p>Flow - территория личной и коллективной самореализации, Мы - одна команда, Уважаем мнение и интересы людей, Ценим свободу, смелость и ответственность</p>
    <p>Прозрачность - основа совместного бизнеса, Работаем, соблюдая этику бизнеса, Уважаем другие мнения и интересы, Выполняем обязательства и берем ответственность за свои решения, Нетерпимы к коррупции.</p>
</div>

{% endblock %}